doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title C2
  link(rel='stylesheet' href='../static/Style.css')
  script(src='../static/JavaScript.js' defer='')
div
  div 
    form(action='Risk9' method='POST' onsubmit='')

            h1.check  Please answer to the next quetion:
            h2.check 
                | What type of company doing this research? 
                p
                | 
                br
                input.check(type='radio' name='check2' value='AI' oninput="enableSubmit()")
                | AI
                br
                br
                input.check(type='radio' name='check2' value='Clinical Research' oninput="enableSubmit()")
                | Clinical Research
                br
                br
                input.check(type='radio' name='check2' value='Market Research' oninput="enableSubmit()")
                | Market Research
                br
                br
                p
                button.check(type='submit' id='submitRisk' disabled) SEND
