doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title C2
  link(rel='stylesheet' href='../static/Style.css')
  script(src='../static/JavaScript.js' defer='')
div
  div 
    form(action='Risk9' method='POST' onsubmit='')

            h1.check  Please answer to the next quetion:
            h2.check 
                | What kind of events were you asked to rate?
                p
                | 
                br
                input.check(type='radio' name='check2' value='Risks' oninput="enableSubmit()")
                | Risks
                br
                br
                input.check(type='radio' name='check2' value='Hotel recommendations' oninput="enableSubmit()")
                | Hotel recommendations
                br
                br
                input.check(type='radio' name='check2' value='Reviews of shows' oninput="enableSubmit()")
                | Reviews of shows
                br
                br
                p
                button.check(type='submit' id='submitRisk' disabled) SEND
