doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Explanations
  link(rel='stylesheet' href='../static/Style.css')
  script(src='../static/JavaScript.js' defer='')
div
  div 
  h1#explanationsID We are a company that specializes in producing AI for risk assessment.
  h1#explanationsID In order to train our algorithms, we still require Human risk assessments.
  h1#explanationsID On the following pages, you will be presented with various events, and we kindly request that you rate the level of risk associated with each event on a scale from 0 to 100.
  h1#explanationsID A rating of 0 indicates no risk at all, while a rating of 100 indicates a very high risk level.
  h1#explanationsID Thank you for your participation in this important process.
    br
    br
    form(action='Risk1' method='POST' onsubmit='')
      button.button(type='Submit') START
    br
