doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Experiment End
  link(rel='stylesheet' href='../static/Style.css')
  script(src='../static/JavaScript.js' defer='')
  div
  div
    br
    h1 Thanks for participating
    br
    a.completionCode(href="https://app.prolific.co/submissions/complete?cc=CI3SKWPB") Colmpletion URL
  div