doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Risk3
  link(rel='stylesheet' href='../static/Style.css')
  script(src='../static/JavaScript.js' defer='')
body 
  br
  h1#headDetails    Please assess the risk level of the event described below 
  div
    p#RiskDescription
      | This morning, you received a message on your Instagram account: a complaint has been lodged against you. 
      | To withdraw the complaint, you need to complete a form provided in the attached link. Failure to do so within a few days may result in your Instagram account being blocked.
  
  form(action='/insertClick' method='POST')
    input(type='hidden' name='redirect_url' value='/Risk4-2')
    input(type='hidden' name='RiskID' value='Risk3-Group2')
    .slidecontainer
    label#riski(for='Riskrate') 0 - Low Risk 
    input#myRange(type='range' name='Riskrate' class='riskSlider' min='0' max='100' step='1' oninput="document.getElementById('sliderValue').innerHTML = this.value; enableSubmit()")
    label#riski(for='myRange') 100 - High Risk
    p#sliderValue 50
    div
    button(type='submit' id='submitRisk' disabled) Submit
