doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Risk1
  link(rel='stylesheet' href='../static/Style.css')
  script(src='../static/JavaScript.js' defer='')
body 
  br
  h1#headDetails    Please assess the risk level of the event described below 
  br
  p#RiskDescription
    | You have received a text message: you are eligible for a special loan of up to $100,000. To obtain the loan, you need to click on the provided link. Act quickly and take advantage of this amazing offer now to achieve your financial goals and dreams.
  
  form(action='/insertClick' method='POST')
    input(type='hidden' name='redirect_url' value='/Risk2-2')
    input(type='hidden' name='RiskID' value='Risk1-Group2')
    .slidecontainer
    label#riski(for='Riskrate') 0 - Low Risk
    input#myRange(type='range' name='Riskrate' class='riskSlider' min='0' max='100' step='1' oninput="document.getElementById('sliderValue').innerHTML = this.value; enableSubmit()")
    label#riski(for='myRange') 100 - High Risk
    p#sliderValue 50
    br
    button(type='submit' id='submitRisk' disabled) Submit
