doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Risk1
  link(rel='stylesheet' href='../static/Style.css')
  script(src='../static/JavaScript.js' defer='')
Body 
  h1#headDetails    Please assess the risk level of the event described below 
  br
  div
    p#RiskDescription
      | You received an email from PayPal: your account has been compromised, and it will be unusable unless you verify your credit card information. 
      br
      | in order to do so, you are should click on a link. If you do not verify your credit card information within 48 hours, your PayPal account will be permanently suspended.
      br
      | 
  br
  form(action='/insertClick' method='POST')
    input(type='hidden' name='redirect_url' value='/check2') 
    input(type='hidden' name='RiskID' value='Risk8-Group2')
    .slidecontainer
    label#riski(for='Riskrate') 0 - Low Risk
    input#myRange(type='range' name='Riskrate' class='riskSlider' min='0' max='100' step='1' oninput="document.getElementById('sliderValue').innerHTML = this.value; enableSubmit()")
    label#riski(for='myRange') 100 - High Risk
    p#sliderValue 50
    div
    button(type='submit' id='submitRisk' disabled) Submit
