doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Risk10
  link(rel='stylesheet' href='../static/Style.css')
  script(src='../static/JavaScript.js' defer='')
body 
  br
  h1#headDetails    Please assess the risk level of the event described below 
  div
    p#RiskDescription
      | You received an email from Netflix:
      br 
      | Your payment information on the Netflix website isn't updated and your subscription will expire in 24 hours. To update your details, click 
      span.blue-underline here.
      |  Make sure to update your payment information within 24 hours, or your account will be suspended.
 
  form(action='/insertClick' method='POST')
    input(type='hidden' name='redirect_url' value='/Detalis') 
    input(type='hidden' name='RiskID' value='Risk10-Group2')
    .slidecontainer
    label#riski(for='Riskrate') 0 - Low Risk 
    input#myRange(type='range' name='Riskrate' class='riskSlider' min='0' max='100' step='1' oninput="document.getElementById('sliderValue').innerHTML = this.value; enableSubmit()")
    label#riski(for='myRange') 100 - High Risk
    p#sliderValue 50
    div
    button(type='submit' id='submitRisk' disabled) Submit
