doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Risk4
  link(rel='stylesheet' href='../static/Style.css')
  script(src='../static/JavaScript.js' defer='')
div
  div
    br
    h1#headDetails    Please assess the risk level of the event described below 
    
  div
    p#RiskDescription
      | You received a text message from Nike: 
      br
      | You are qualified for a discount at our online store. Click
      span.blue-underline here
      | to obtain a discount code. 
      | Use it today! The discount is only available for a limited time.
  
  form(action='/insertClick' method='POST')
    input(type='hidden' name='redirect_url' value='/C1')
    input(type='hidden' name='RiskID' value='Risk4-Group2')
    .slidecontainer
    label#riski(for='Riskrate') 0 - Low Risk 
    input#myRange(type='range' name='Riskrate' class='riskSlider' min='0' max='100' step='1' oninput="document.getElementById('sliderValue').innerHTML = this.value; enableSubmit()")
    label#riski(for='myRange') 100 - High Risk
    p#sliderValue 50
    div
    button(type='submit' id='submitRisk' disabled) Submit
